body{
    background-color: #923cb5;
    background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);
}

.card{
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    color: white;
}

.btn-primary{
    background-color: black;
}

.card-title{
    color: #FEC260;
    text-transform: uppercase;
}

.card img{
    height: 136px;
}